
/* THIS IS "INTER" AND "MIAMA" GOOGLE FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

/* THIS IS NAVIGATION BAR AND HEADER SECTION */


.header-section{
    height: 400px;
    /* background-color: #383838; */
    background: linear-gradient(180deg, #111 0%, #383838 100%);


}

 /* <!-- THIS IS NAV BAR SECTION --> */
.navigation-ber {
    color: #ffffff;
    padding-top: 40px;
    margin: 0px 100px 0px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.nav-bar-fitness-text {
    align-items: center;
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
    font-size: 2.4rem;


}
.nav-bar-other-all-texts {
    display: flex;
    color: #ffffff;
    list-style: none;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 47px;
    padding: 4px 20px 4px 4px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 36px;
    
    
}

.nav-bar-home-btn {
    background-color:#E6533C;
    border-radius: 46px;
    font-weight: 600;
    padding: 8px 20px;
    text-decoration: none;

}

#icon{
    
    display: none;
}
/* SMALL DEVICES RESPONSIVE CSS */

@media screen and (max-width:576px) {
    
    
    .navigation-ber {
        margin-left:20px;
        margin-right: 30px;
    }
    #icon{
        
       display: block;
       margin-right: 0px;
       text-align: center;
       padding: 4px;
       border: 2px solid rgba(255, 255, 255, 0.10);
    }

    .nav-bar-other-all-texts{

        display: none;
    }

}
/* MEDIUM DEVICES RESPONSIVE CSS */

@media screen and (min-width:576px) and (max-width:992px) {
    
    
    .navigation-ber {
        margin-left:20px;
        margin-right: 20px;
    }

    .nav-bar-other-all-texts{
        gap: 20px;
        
    }
}