/* THIS IS "INTER" AND "MIAMA" GOOGLE FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');



body{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #ffffff;

}


main {
    background-color: black;
}

/* SHARED CSS STYLE ==================================================================================================*/
.flex {
    display: flex;
}

.miama-fonts{
    font-family: 'Miama', sans-serif;
    font-size:4.8rem;
    font-weight: 400;
 }

.common-p-tag{
    color:rgba(255, 255, 255, 0.50);
    font-size: 0.875rem; 
    font-weight: 300;
}

.common-h1-tag {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    
}

header{
    background-image: linear-gradient(to bottom, #171717, #191919, #1b1b1b, #1d1d1d, #1f1f1f, #1e1e1e, #1c1c1c, #1b1b1b, #161616, #111111, #090909, #000000);

}

 /* <!-- THIS IS NAV BAR SECTION ===============================================================================--> */
.navigation-ber {
    width: 1060px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
 
 
}

.nav-bar-fitness-text {
    align-items: center;
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
    font-size: 2.4rem;

}
.nav-bar-other-all-texts {
    display: flex;
    color: #ffffff;
    list-style: none;
    align-items: center;
    gap: 47px;
    padding: 4px 20px 4px 4px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 36px;
 
    
}

.nav-bar-home-btn {
    background-color:#E6533C;
    border-radius: 46px;
    font-weight: 600;
    padding: 8px 20px;
    text-decoration: none;

}

#icon{
    
    display: none;
}



/* THIS BANNER SECTION CSS -=============================================================-==============================*/

.banner-parent-container {
    width: 1060px;
    margin: 50px auto 0px  auto;
    justify-content: space-between;

}

.banner-title {
   
    font-weight: bold;
    font-size: 4.8rem ;
    color: #ffffff;
    line-height: 120%;

}

.banner-description {
    font-size: 1rem;  
    font-weight: 300px;
    color:rgba(255, 255, 255, 0.50);
    margin-top: -38px;
    margin-bottom: 30px;

 
}

.join-btn {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    background-color: #E6533C;


}
.download-btn {
    background-color: transparent;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #ffffff;
    margin-left: 14px ;
}


.banner-details  {
      width: 50%;
  }

.banner-image-main-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

}



.banner-image img{
    width: 100%;
    height: 100%;
  
}

.miama-fonts{
    font-family: 'Miama', sans-serif;
    font-size:8rem;
    font-weight: 400;
 }


.video-badge {
    position: absolute;
    top: 74%;
    left: -20%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background: rgba(48, 48, 48, 0.54) ;
    border: 1px solid rgba(255, 255, 255, 0.10);
    width: 40%;
    height: 14%;
    backdrop-filter: blur(10px);
    border-radius: 12px;
  
}
.video-badge-2 {
    position: absolute;
    top: 25%;
    right: 1%;
    background: rgba(48, 48, 48, 0.54) ;
    border: 1px solid rgba(255, 255, 255, 0.10);
    width: 37%;
    height: 14%;
    backdrop-filter: blur(10px);
    border-radius: 12px;
  
}

.number-text{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: bold;
}
.number-text-2{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px;
    margin-left: -30px;
    

}
.badge-image >img {
    width: 30px;
    height: 30px;
}
 .video-text{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
 .video-text-2{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
    margin: 0px;
   
    
}
.badge-image {
    background-color: #E6533C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


/* this change your habits section====================================================================================================== */



.change-habits-container-parent {

    width: 1060px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 112px;
}
.change-habits-title-container {
     
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
   
    
}
.change-habits-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.change-habits-cards-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
}

.change-habits-cards img{
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.50);
}

.change-habits-cards-h6 {
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom:10px;
}

.change-habits-cards-p {
    margin-top: 0px;


}

/* this run and extra Mile Extra Easily===================================================================================================*/


.REME-section-parent {
    width: 1060px; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #222222;
    border-radius: 18px;
    margin-bottom: 100px;
   


    
 }
.reme-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    margin: 0 auto;
    padding: 20px;

}


 .reme-image {
    width: 366px; 
    height: 312px; 
    border-radius: 18px;
}

 .reme-image > img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    
 }

 .reme-h1 {
    margin: 0px;
 }
 .reme-p {
    margin-top: 10px;
    margin-bottom: 20px;
 }


 /* this is  bmi calculator section css ==============================================================================================*/

.BMI-Caluculator {

    text-align: center;
    padding-bottom: 50px;
}

.bmi-calcu-bg {
    
    margin: 0 auto;
    background-color: #222;
}
.bmi-calcu-parent-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bmi-calculator{
    width: 550px;
}


.bmi-chart-text{
    margin-right: 0px;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff; 
}

.table-1,td,th{
    border: 1px  solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    text-align: start;
    padding: 15px 20px;

}
td {
    color:rgba(255, 255, 255, 0.50);
    font-size: 0.875rem;
    font-weight: 400;
}


#Extra-margin-for {
    margin-bottom: 30px;
    margin: 0;
}


.bmi-calu-form{
    color: #E6533C;
  
   
}

::placeholder {
   color: rgb(96, 96, 96);
   font-size: 0.8rem;
}
#height {
   
    margin: 5px;
    margin-left: 0px;
    width: 200px;
    color: rgb(175, 175, 175);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    background-color: #383838;

}
#weight {
    margin: 5px;
    width: 200px;
    color: rgb(175, 175, 175);
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    background-color: #383838;
}
#age {
    margin: 5px;
    margin-left: 0px;
    width: 200px;
    color: #ffffff;
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    background-color: #383838;
}
#select-sex {
    margin: 5px;
    width: 258px;
    font-size: 0.8rem;
    color: rgb(96, 96, 96);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    background-color: #383838;
}
#select-activity {
    margin: 5px;
    width: 531px;
    margin-left: 0px;
    font-size: 0.8rem;
    color: rgb(96, 96, 96);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    background-color: #383838;
}


.calcu-btn {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 16px 50px;
    border-radius: 42px;
    border: none;
    background-color: #E6533C;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Meet Our Team css style========================================================================================= */


.mot-main-parent-container {
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 50px;
   
       
   }
   
    .mot-main-child {
       padding: 20px;
       background-color: #383838;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 20px;
       position: relative;
       border-radius: 18px;
       
   
    }
    
   
   .trainers {
       position: absolute;
       top: 220px;
       left: 20px;
   }
   
   .trainer-gallery {
       position: relative;
       background: #222;
       border-radius: 18px;
    }
    .trainer-gallery img{
      
       width:100%;
       height: 100%;
       border-radius: 18px;
   
    }
   
    .comment-text-1 {
       font-size: 1.25rem;
       color: #ffffff;
       font-weight: bold;
    }
   
       #Dianne-Russell {
           display: block;
   }


   /* this is footer section css ====================================================================================== */

footer {
    
    background-color: rgb(25, 25, 25);
}
.footer-section {
    width: 1060px;
    margin: 0 auto;
    display: grid;   
    grid-template-columns: 2fr 1fr 1fr ;
    padding-top: 30px;
    margin-bottom: 20px;

    gap: 50px;


}

.fitness-h1 {
    font-size: 4.375rem;
    margin: 0px;
}

.gs-common > h4{
    margin: 5px;
    font-size: 1.438rem;
    color:rgba(255, 255, 255, 0.50);
    font-weight: 400;
}

.gs-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

#hr {
    background-color: rgba(255, 255, 255, 0.10);
    height: 2px;
    border: #383838;
}
.copyright-section {
    margin: 0px 190px 0px 190px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.50) ;
}


/* this is The Benefits Of Exercise section css style ================================= */


.bof-bg {
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    
}

.benefits-of-exercise-parent {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 20px;
}
.bfe-main-heading {
    width: 1060px;
    margin: 0 auto;
    text-align: center;
}

.bfe-child-container {
    text-align: center;
    padding: 10px;
    background-color: rgb(25, 25, 25);
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
    position: relative;
    transition: 1s;
    overflow: hidden;
}

.bfe-child-container:hover {
    transform: scale(1.2);
    z-index: 2;
}

.read-more {
    padding: 5px;
    border-radius: 5px;
    border: none;

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.679);
    font-size: 0.8rem;
    font-weight: bold;
}

.bfe-h4,.bfe-p,.read-more {
    z-index: 2;
}
  
.bfe-child-container::before{
    content: '';
    position: absolute;
    background: linear-gradient(#00ccff,#d500f9);
    height: 140%;
    width: 170px;
    animation: rotate 5s linear infinite;
   
  }
.bfe-child-container::after{
    content: '';
    position: absolute;
    background: rgb(25, 25, 25);
    inset: 5px;
    border-radius: 18px;
    
   
  }

  @keyframes rotate {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }







/* SMALL DEVICES RESPONSIVE CSS */

@media screen and (max-width:576px) {
    
    /* this is nav responsive========================================================================================================*/
    .navigation-ber {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    #icon{
        
       display: block;
       margin-right: 0px;
       text-align: center;
       padding: 4px;
       border: 2px solid rgba(255, 255, 255, 0.10);
    }

    .nav-bar-other-all-texts{

        display: none;
    }


    /* this is banner responsive======================================================================================================================== */


    .banner-parent-container {
        width: auto;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
   
    }
    .banner-details  {
        width: 100%;
    
    }
     
    .banner-image-main-container {
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    
    .banner-title {
        font-size: 2.25rem ;
    }
    .banner-description {
        margin-top: 30px;
    }
     .miama-fonts {
        font-size: 3rem;
    }
     .badge-image {
        width: 10px;
        height: 10px;
    }
    .badge-image >img {
        width: 10px;
        height: 10px;
    }
    .join-btn {
        font-size: 0.9rem;
        padding: 10px;
        border-radius: 42px;

    }
    .download-btn {
        padding: 10px;
        font-size: 0.9rem;
        border-radius: 42px;
        margin-left: 15px ;
    }

    
    .video-badge {
        left: -2%;
        width: 40%;
        height: 72px;
        
    }
     .video-badge-2 {
        left: 55%;
        width: 40%;
        height: 74px;
       
    }
     
     .number-text{
        font-size: 1.125rem;
         
         
    }
     .number-text-2{
         
        font-size: 1.875rem;
        margin-left: 0px;
     
    }
     .badge-image >img {
        width: 30px;
        height: 30px;
    }
      .video-text{
        font-size: 0.75rem;
    }
      .video-text-2{
        font-size: 0.56rem;
         
    }
     .badge-image {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
    
    #main-image {
        width: 90%;
    }

    /* this is change habits responsive ==========================================================================================*/


    .change-habits-container-parent {
       
       width: auto;
        position: relative;
        top: -40px;
    }
    .change-habits-title-container {
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 0px;
    }
     .change-habits-cards-container{
       text-align: center;
       flex-direction: column;
       align-items: center;
       
     }

     .change-habits-title {
        font-weight: bold;
        font-size:2rem;
     }
     .change-habits-discription {
        margin-bottom: 30px;
     }




/* this run and extra Mile Extra Easily responsive===================================================================================================*/


.REME-section-parent {
    width: 90vw; 
    
  
 }
.reme-parent {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:auto;
    margin: 0 auto;

}
.reme-first-child {
    width: 70vw; 
    
}
 .reme-image {
    margin-top: 20px;
    width: 70vw; 
    height: 170px; 
    border-radius: 18px;
}

 .reme-image > img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    
 }

 .reme-h1 {
    margin: 0px;
 }
 .reme-p {
    margin-top: 10px;
    margin-bottom: 20px;
 }

 #reme-btn {
    width: 70vw;
 }



/* this is  bmi calculator section responsive css ==============================================================================================*/

.bmi-calculator {
   width: 100%;
   
}

.bmi-calcu-parent-container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.bmi-calu-form {
    width: 100%;
    margin-top: 20px;
}

::placeholder {
   color: rgb(96, 96, 96);
   font-size: 0.8rem;
}
#height {
    width: 31%;
    color: rgb(175, 175, 175);
    

}
#weight {
    width: 31%;
    margin-left: 0px;
  
   
}
#age {
    width: 31%;
   
  
}
#select-sex {
    width: 47%;
    margin-left: 0px;
  
}
#select-activity {
    width: 96%; 
 
}



/* Meet Our Team css style resposive ==================================================================================== */

     

.mot-main-parent-container {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 90px;

   
}

.mot-main-child {

    width:  75%;
    margin: 0 auto;
    /* margin-left: 0px;
    margin-right: 0px; */
    display: flex;
    flex-direction: column;
    gap: 20px;


} 

.trainers {
    top: 70%;
    left: 10%;
}
#Dianne-Russell {
    display: none;
}

.trainer-gallery img{
  
   width:100%;
   height: 100%;
   border-radius: 18px;

}

/* this is footer section responsive ==========================================================*/
footer {
    margin: 0px 0px 0px 0px ;
}

.footer-section {
    width: 100%;
    margin: 0px 0px 0px 0px;
    grid-template-columns: 1fr ;
    padding-top: 30px;
    gap: 50px;


}

.fitness-h1 {
    font-size: 4.375rem;
    margin: 0px;
}

.gs-common > h4{
    margin: 5px;
    font-size: 1.438rem;
}

.gs-title {
 font-size: 2rem;

}

#hr {
    height: 2px;
    border: #383838;
}
.copyright-section {
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 1rem;
}

.fitness-footer,.get-started {
    margin-left: 20px;
   
}
/* this is The Benefits Of Exercise section responsive ======================*/

.bfe-main-heading {
    width: 100%;
}
.benefits-of-exercise-parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}




/* =================================================== */
}
/* ============================================== */
